*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #033;
    margin: 0px;
    padding: 15px;
    width: 100%;
    max-width: 450px;
    /* overflow: hidden; */
}

.exit-btn {
    width: 180px;
    border: none;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 15px 5px;
    background: #3f5252;
    color: #dbdbdb;
    font-size: clamp(16px, 2vh, 100px);
    cursor: pointer;
}

.yes-no {
    width: 30vw;
    max-width: 170px;
    border: none;
    border-radius: 20px;
    margin: 0px;
    padding: 10px 5px;
    background: #3f5252;
    color: #dbdbdb;
    font-size: clamp(18px, 2vh, 100px);
    font-weight: bold;
    cursor: pointer;
}

.yes-no:hover {
    border-bottom: 1.5px solid #000000;
}

#no {
    background: #3b5fd4;
}

button:hover {
    border-bottom: 1px solid #0ab861;
    background: #364444;
    color: #ffffff;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
    max-width: 420px;
    background: #9acece;
    margin: 0px;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    position: fixed;
    transform: translate(0%, 0%);
    /* left: 0;
    right: 0; */
    bottom: -100%;
    transition: bottom 0.5s ease-in-out;
    display: none;
}

.popup h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 2vh, 100px);
    text-align: center;
}

.y-n-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}